<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hóa đơn</title>

    <link
    rel="shortcut icon"
    type="image/x-icon"
    href="../assets/img/logo/logo5.png"
  />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="../css/car.css">

        <link
        rel="stylesheet"
        type="text/css"
        href="../css/dataTables.bootstrap4.min.css"
      />
      
    <!-- DataTables link -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" rel="stylesheet">

    <link
    href="../assets/css/bootstrap.min.css"
    rel="stylesheet"
  />
    <script>
        function startTime() {
          var today = new Date();
          var d = today.getDay();
          var dd = today.getDate();
          var mm = today.getMonth()+1;
          var yy = today.getFullYear();
          var h = today.getHours();
          var m = today.getMinutes();
          var s = today.getSeconds();
          m = checkTime(m);
          s = checkTime(s);
          document.getElementById('txt').innerHTML =
          "Thứ "+d+", "+"ngày "+ dd + " tháng "+ mm + " năm " +yy + " | " + h + ":" + m + ":" + s;
          var t = setTimeout(startTime, 500);
        }
        function checkTime(i) {
          if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
          return i;
        }
    </script>

    <style>
        table.dataTable {
            border-collapse: collapse !important;
        }
    </style>

</head>

<body onload="startTime()">

    <div class="container-fluid header-web">
        
    </div>


    <div class="body-web">
        <div class="menuVertical vertical-menu">
            <div class="py-4 px-3 bg-light">
                <div class="media d-flex align-items-center">
                    <img src="../assets/img/logo/logo5.png" alt="..."
                        width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
                    <div class="media-body">
                        <h4 class="m-0">Admin</h4>
                        <p class="font-weight-light text-muted mb-0"> Nguyễn Cao Minh</p>
                    </div>
                </div>
            </div>


            <ul class="nav flex-column">

                <div class="classHome">
                    <i class="fas fa-home"></i>
                    <a class=" active-column " href="/">Trang Chủ</a>
                </div>
                <li class="nav-item">
                    <i class="fas fa-hamburger"></i>
                    <a class="nav-link" href="/product">Món ăn</a>
                </li>
                <li class="nav-item">
                    <i class="fas fa-bars"></i>
                    <a class="nav-link" href="/loaiproduct">Loại món ăn</a>
                </li>
                <div class="classHome">
                    <i class="fas fa-users "></i>
                    <p class=" active-column " href="#">Khách hàng</p>
                </div>
                <li class="nav-item">
                    <i class="fas fa-user"></i>
                    <a class="nav-link" href="/user">User</a>
                </li>

                <li class="nav-item">
                    <i class="fas fa-file-invoice-dollar"></i>
                    <a class="nav-link" href="/hoadon">Hóa đơn</a>
                </li>
                <li class="nav-item">
                    <i class="fas fa-chart-bar"></i>
                    <a class="nav-link" href="/thongke">Thống kê</a>
                  </li>
            </ul>

        </div>

        <div class="contents">
            <div class="contents-title">
                <h2>Hóa đơn</h2>
                <!-- <div class="button-add" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">
                    Thêm hóa đơn
                </div> -->
                <div id="txt" style="color:red;margin-left: 130px;margin-top: 30px;font-weight: bold;" ></div>

            </div>

            <!-- <div class="information">
                <div class="textTitle">Client Names</div>
                <div class="textTitle">Email</div>
                <div class="textTitle">Delete</div>
                <div class="textTitle">Update</div>

            </div> -->

            <table id="table" class="table table-striped table-bordered" style="width:100%">

                <thead>
                    <tr>
                        <th>Mã hóa đơn</th>
                        <th>Ngày tạo hóa đơn</th>
                        <th>Địa chỉ</th>
                        <th>Phương thức thanh toán</th>
                        <th>Trạng thái</th>
                        <th>Tổng giá</th>
                        <th>Tên khách hàng</th>
                        <th>Sửa</th>
                        <th>Xóa</th>
                        <th>Chọn</th>
                        <!-- <th>Age</th>
                        <th>Start date</th>
                        <th>Salary</th> -->

                    </tr>
                </thead>

                <tbody>
                    <% hoadon1.forEach(function(item){ %>
                    <tr>
                        <!-- <td style="width: 20%;">
                            <img src="<%= item.hinh %>" alt=""  style="width: 100%; height: 8rem;"  > 
                     
                         </td> -->
                         <td class="tcenter"><%= item.billid %></td>
                         <td class="tcenter"><%= item.date %></td>
                         <td class="tcenter"><%= item.address %></td>
                         <td class="tcenter"><%= item.payments %></td>
                         <td class="tcenter"><%= item.state %></td>
                         <td class="tcenter"><%= item.total %></td>
                         <td class="tcenter"><%= item.username %></td>


                        <td class="tcenter">
                            <span class="table-edit">
                               

                                <button type="button" style="width: 5rem; "
                                    class="btn btn-primary btn-rounded btn-sm my-0 "
                                    onclick="location.href='/edithoadon/<%= item.billid %>'"
                                    >Sửa</button>
                            </span>
                        </td>
                        <td class="tcenter">
                            <span class="table-remove">
                                <button type="button" style="width: 5rem; "
                                    class="btn btn-danger btn-rounded btn-sm my-0 "
                                    onclick="location.href='/deletehoadon/<%= item.billid %>'"
                                    >Xóa</button>
                            </span>
                        </td>
                        <td class="tcenter">
                            <span class="table-edit">
                               

                                <button type="button" style="width: 5rem; "
                                class="btn btn-info"
                                    onclick="location.href='/hoadonchitiet/<%= item.billid %>'"
                                    >Xem</button>
                            </span>
                        </td>
                    </tr>
                    <% }); %>

                </tbody>

                <tfoot>
                    <tr>
                        
                        <!-- <th>Age</th>
                        <th>Start date</th>
                        <th>Salary</th> -->
                    </tr>

                </tfoot>

            </table>


        </div>


    </div>


    <!-- display modal add information user-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Chi tiết hóa đơn</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/insertHoaDon" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label"> Mã hóa đơn :</label>
                            <input type="text" class="form-control" id="recipient-name" name="MaHoaDon">
                        </div>

                        <div class="form-group">
                            <label for="message-text" class="col-form-label"> Tổng giá:</label>
                            <textarea class="form-control" id="message-text" name="TongGia"></textarea>
                        </div>
                        <label for="recipient-name" class="col-form-label">Ảnh hóa đơn :</label>
                        <br>
                        <input type="file" name="myImage"accept="image/*">
                        
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Thêm</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!-- display modal edit information user -->

    <!-- <div class="modal fade" id="exampleModalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Clients</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                  
                    <form action="/edit" method="POST"   autocomplete="off" >
                        <input type="hidden" name="_id" value="" />
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label"> Edit Client Name:</label>
                            <input type="text" class="form-control" id="recipient-name" name="name" value="">
                        </div>

                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label"> Email:</label>
                            <input type="text" class="form-control" id="recipient-name" name="email" >
                        </div>

                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label"> Password:</label>
                            <input type="text" class="form-control" id="recipient-name" name="password"  >
                        </div>

                        <div class="form-group">
                            <label for="message-text" class="col-form-label"> Information:</label>
                            <textarea class="form-control" id="message-text" name="information" ></textarea>
                        </div>

                       <form method="post" enctype="multipart/form-data" action="/uploadphoto"> -->
    <!-- <input type="file" name="myImageEdit" accept="image/*" > -->

    <!-- <input type="submit" value="Upload Photo"> -->
    <!-- <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Edit Client</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>

                    </form>


                </div>

            </div>
        </div>
    </div> --> 


</body>

<!-- icon fontawesome -->
<script src="https://kit.fontawesome.com/a1aabf7538.js" crossorigin="anonymous"></script>

<!-- link script -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
</script>


<!-- DataTables script -->
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script src="/javascript/table.js"></script>

<script>
    $(document).ready(function () {
        $('#table').DataTable();

    });

    var oTable = $('#table').dataTable({
        "aoColumnDefs": [{
                "bSortable": false,
                "aTargets": [7,8,9]
            },

        ]
    });
</script>

</html>